In [1]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook    |
| Spyder              |
| RStudio             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60 and display the result
hours = 200 / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Introduce common libraries used in Data Science
- Summarize popular open source tools for Data Science development environments
- Demonstrate arithmetic calculations in Python

## Author

My name is Aziz Ahmad